<mat-toolbar color="primary">
    <span class="example-spacer">Proyecto Desarrollo de Aplicaciones Web 💻</span>
    <a [routerLink]="['/reservas']" routerLinkActive="router-link-active" mat-raised-button color="accent">
        Reservas
    </a>
    <a [routerLink]="['/clientes']" routerLinkActive="router-link-active" mat-raised-button color="accent">
        Clientes
    </a>
    <a [routerLink]="['/espacios']" routerLinkActive="router-link-active" mat-raised-button color="accent">
            Espacios
    </a>
    <a [routerLink]="['/recursos']" routerLinkActive="router-link-active" mat-raised-button color="accent">
        Recursos
    </a>
</mat-toolbar>
