<h1 mat-dialog-title>Agregar un nuevo recurso</h1>

<div mat-dialog-content [formGroup]="resourceForm" class="mdcontent">
    <mat-form-field appearance="outline" class="mff-1">
        <mat-label>Nombre del recurso</mat-label>
        <input formControlName="name" matInput placeholder="Nombre" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <textarea formControlName="description" matInput placeholder="Descripcion"></textarea>
    </mat-form-field>
</div>

<div mat-dialog-actions align="center" class="actions">
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" (click)="confirm()">Guardar</button>
</div>
